@import url(root.css);

.circle-icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: var(--blue-medium);
}

.circle-icon .fab{
    font-size: 30px;
    color: var(--blue-cream);
    transition: all 0.4s;
}

.circle-icon:hover{
    background-color: var(--blue-strong);
}

.circle-icon:hover .fab{ 
    color: var(--sand);
}



.span-info{
    padding-left: 25px;
    transition: 0.4s all ease;
    font-size: 25px;
    color: var(--blue-medium);
    font-weight: normal;
}

.span-info:hover{
    font-size: 30px;
    font-weight: bold;
    color: var(--blue-strong);
}


footer{
    border-top: 5px solid var(--blue-medium);
    height: 100px;
    background-color: var(--blue-cream);
}