
@import url(root.css);
@import url(footer.css);


body{
    font-family: "Lithos Pro Regular";
}


.content{
    background-color: var(--blue-strong);
    z-index: 0;
}


.map__image{
    position: absolute;
    height: 650px;
    top: 50%;
    left: 80%;
    transform: translate(-80%,-50%) scale(1);
    width: 50%;
    height: 70%;
    background: var(--blue-medium);
    align-items: center;
    display: flex;
    border-radius: 25px;

}

.map__image svg{
    position: relative;
    margin: 0px auto;
    height: 80%;
}

.map__image path{
    fill: var(--blue-cream);
    stroke: #fff;
    stroke-width: 1px;
    transition: all 0.4s ease;
}

.map__image .is-active path{
    fill:  var(--blue-strong);;
}

.map__image path:hover{
    fill: var(--blue-strong);
    stroke: #fff;
    stroke-width: 1px;
    transition: all 0.4s ease;
}


/*list style*/
 .map__options{
     
    position: relative;
    margin-top: 25%;
    height: 800px;
    background-color: var(--blue-medium);
    color: var(--sand);
    align-items: center;
    border-radius: 25px;
    font-family: "Lithos Pro Regular";
} 

.map__options h1{
    padding: 10px;
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
}

.map__list{
    height: 85%;
    width: 90%;
    display: block;
    padding-left: 12px;
    padding-top: 10px;
    overflow-y: auto;
    line-height: 1.5;
}


.map__list a{
    font-size: 32px;
    color: var(--sand);
    text-decoration: none;
}

#container-page{
    background-color: var(--blue-strong);
    height: 100%;
}

.map__list a.is-active{
    color: var(--blue-strong);
    font-weight: bold;
    text-decoration: none;
}

.map__list a:hover{
    color: var(--blue-strong);
    font-weight: bold;
    text-decoration: none;
}

#row-content{
    background-color: var(--blue-strong);
    color: var(--blue-strong);
}

#row-principal{
    height: 1200px;
    background-color: var(--blue-strong);

}

#col-ref{
   height: 100%;
}